 #container::before{
        margin: 20px;
        content: "Before Element";
        font-size: 20px;
        color: #f00;
    }

    #container::after{
        margin: 20px;
        content: "After Element";
        font-size: 20px;
        color: #f00;
    }